/*!
  QQ Comment Service v1.1.0
 */

#editor-root-main {
    margin: 0 auto;
}

.editor-wrap {
    width: auto;
    margin: 16px auto;
    border: 1px solid #DDDDDD;
    padding: 20px;
    border-radius: 16px;
    background-color: #F7F7F7;
    font-size: 14px;
}

.editor {
    min-height: 50px;
    border: none;
    outline: none;
    padding: 8px;
    color: black;
}

.editor.post img {
  height: fit-content;
}

.editor.empty::before {
    content: attr(data-placeholder);
    color: #999;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-btn-actions {
    display: flex;
    align-items: center;
}

.toolbar button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
}

.toolbar button.send {
    border-radius: 20px;
    background-color: var(--comment-primary-color) !important;
    padding: 8px 16px;
    color: white;
    font-size: 14px;
}

.toolbar button.send:disabled {
    cursor: default;
    opacity: 0.6;
}

.toolbar button.line {
    cursor: auto;
}

.btn-format svg path {
    stroke: #656565;
    stroke-width: 1.5;
    transition: stroke-width 0.2s ease;
}

.btn-format.active svg path {
    stroke-width: 2.5;
    stroke: #000000;
}

.toolbar button.btn-file-input {
    position: relative;
}

.toolbar button.btn-file-input input[type="file"] {
    display: none;
}

.toolbar button.btn-file-input label {
    display: flex;
}

.toolbar button.btn-file-input label svg {
    cursor: pointer;
}

/* sticker-picker  */
.sticker-picker {
    display: none;
    position: absolute;
    top: 25px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.sticker {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sticker:hover {
    transform: scale(1.2);
}
